body{
    margin:0;
    padding:0;
    display:flex;
    flex-direction:column;
    height:100%;
}

html{
    height:100%;
}

#draw{
    width:100%;
    overflow-x:auto;
    margin:0;
    padding:0;
}

#top>h3{
    margin:5px;
    padding:0;
    flex-grow:1;
    color:#fff;
}

@media screen and (max-width: 263px) {
    #top>li.layui-nav-item.title{
        display:none;
    }
}

@media screen and (max-width: 771px) {
    #top>li.layui-nav-item:not(li.layui-nav-item.title):not(li.layui-nav-item.options){
        display:none;
    }
}

@media screen and (min-width: 772px) {
    #top>li.layui-nav-item.options{
        display:none;
    }
}

#main{
    flex-grow:1;
    display:flex;
}

/* #stas{
    overflow-y:auto;
    height:50%;
}

#stas-top{
    position:sticky;
    top:0;
    background-color: #fff;
} */

#style1,#style2{
    display: none;
    padding: 15px;
}

#left{
    display:flex;
    flex-direction:column;
    overflow: hidden;
    flex-grow:1;
}

#stations>.stas{
    padding:5px;
}

#stations>.stas>p{
    margin:2px;
}

#stas-table{
    border-collapse:collapse;
    border:1px solid #8a8a8a;
}

th,td{
  border:1px solid rgb(160 160 160);
  padding:8px 10px;
}

#stas{
    display:flex;
    flex-direction:column;
}

#stas-top{
    width:100%;
}

#stas-top>p:first-child{
    flex-grow:1;
    margin:0;
    padding:10px;
}

#stas-top{
    display:flex;
    align-items:center;
}

.hover.hide{
    display:none;
}

.hover{
    background-color:rgba(0,0,0,0.5);
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

.hover>.dialog>.top{
    display:flex;
}

.hover>.dialog>.top>#dialog-text{
    flex-grow:1;
}

.hover>.dialog{
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    background-color:#fff;
    border-radius:10px;
    padding:10px;
}

.hover>.dialog>.body{
    padding:10px;
}

.hover>.dialog>.end{
    display:flex;
    justify-content:flex-end;
}
.close{
    background-color:rgb(243, 85, 85);
    cursor:pointer;
    padding:3px;
}

